<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login via Telegram</title>
</head>
<body>
    <h2>Login with Telegram</h2>

    <!-- Кнопка авторизации -->
    <script async src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-login="home_HELLper_bot"
            data-size="large"
            data-onauth="onTelegramAuth(user)"
            data-request-access="write">
    </script>
<!--     это если мне надо сделать переадресацию       data-auth-url="http://127.0.0.1/auth/telegram"-->

<script>
    function onTelegramAuth(user) {
        console.log(user);
        fetch("http://127.0.0.1/auth/telegram?" + new URLSearchParams(user))
            .then(r => r.json())
            .then(d => alert("Hello " + d.username));
    }
    </script>
</body>
</html>