<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login via Telegram</title>
</head>
<body>
    <h2>Login with Telegram</h2>

    <!-- Виджет Telegram -->
    <script async src="https://telegram.org/js/telegram-widget.js?22"
        data-telegram-login="home_HELLper_bot"
        data-size="large"
        data-auth-url="http://localhost/v1/auth/auth/telegram"
        data-onauth="onTelegramAuth(user)">
    </script>
    <script>
    function onTelegramAuth(user) {
        console.log(user);
        fetch("http://localhost/v1/auth/auth/telegram?" + new URLSearchParams(user))
            .then(r => r.json())
            .then(d => alert("Hello " + d.username));
    }
    </script>

</body>
</html>
